<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @blog.title %>
</p>

<p>
  <strong>Url:</strong>
  <%= @blog.url %>
</p>

<% @photos.each do |photo| %>
	<img src="<%= photo %>" alt="">
<% end %>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>
